<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head') %>
<body>
  <div class="container">
    <div class="logo">
      <img src="imagens/logo.webp" alt="Logo da empresa" />
    </div>
    
    <div class="grid">
      <button class="btn">Abrir Ocorrência</button>
      <button class="btn">Abrir Pedido Almoxarifado</button>
      <button class="btn">Notificações Enviadas</button>
      <button class="btn">Lista Ocorrência</button>
      <button class="btn">Lista OS</button>
      <button class="btn">Cadastro Funcionários</button>
    </div>

    <div class="input-area">
      <label for="osInput">Entre com o número OS</label>
      <input type="text" id="osInput" placeholder="Digite o número da OS"/>
      
      <div class="action-buttons">
        <button class="btn black-btn">Consultar OS</button>
        <button class="btn black-btn">SAIR</button>
      </div>
    </div>
  </div>
</body>
</html>
