<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %>
<body>
    <div class="navbar bg-primary text-primary-content">
        <button class="btn btn-ghost text-xl">RepairIQ</button>
    </div>
    
</body>
</html>