<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <div class="navbar bg-primary text-primary-content">
            <div class="navbar-start">
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost text-xl">RepairIQ</a>
            </div>
            <div class="navbar-end">
                <button class="btn btn-ghost">
                    Contato
                </button>
                <button class="btn btn-secondary text-secondary-content">
                    Login
                </button>
            </div>
        </div>

    </body>

</html>